*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}
 /* common */

 .container {
     max-width: 320px;
     padding: 0 16px;
     margin: 0 auto;
 }

 @media screen and (min-width: 768px) {
     .container {
         max-width: 768px;
     }
 }

 @media screen and (min-width: 1158px) {
     .container {
         max-width: 1158px;
         padding: 0 15px;
     }
     
}
/* header*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
        0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: none;
}
.contacts-list,
.contacts {
    display: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo {
    padding: 16px 0;
    display: block;
}
.header-logo .logo-part {
    color: #2E2F42;
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}
@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}
.nav-link.current {
    position: relative;
}
.nav-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404BBF;
}
.contacts {
    font-style: normal;
    display: block;
}
.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404BBF;
}
}
@media screen and (min-width: 1158px) {
    .header-logo {
            margin-right: 76px;
        }
     .contacts-list {
        flex-direction: row;
         align-items: center;
         gap: 40px;
     }
}
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*<-- #end Header -->*/
/*<-- #region zagolovok -->*/
.hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 72px 52px;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/mobile-hero-2x.jpg");

        max-width: 320px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 auto;
}

.header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 320px;
    margin-bottom: 72px;
}
.main-button {
        display: flex;
        align-items: center;
        background-color: #4D5AE5;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            padding: 16px 32px;
            min-width: 169px;
                height: 56px;
                border-radius: 4px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 48px;
}
.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
        }
    .hero-section {
         padding: 136px 112px;
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
                                           rgba(46, 47, 66, 0.7)),
         url("../images/hero-tablet-2x.jpg");
            max-width: 768px;
        }
                .header {
                    font-weight: 700;
                    font-size: 56px;
                    line-height: 1.07;
                    letter-spacing: 0.02em;
                    max-width: 496px;
                    height: 120px;
                    text-align: center;
                }
}
@media screen and (min-width: 1158px) {
    .hero-section {
            padding: 188px 0;
            background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/people-office.jpg");
    
            max-width: 1440px;
            margin: 0 auto;
    
        }
}
/*<-- #утв.region zagolovok -->*/

/*<-- 1#-section zagolovok -->*/
.icon-wraper {
    display: none;
}
.first-section {
    padding: 96px 0 96px
}
 .list-hiden {
     display: flex;
     flex-wrap: wrap;
     gap: 72px;
 }
 .future-title {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     color: #2e2f42;
    text-align: center;
     margin-bottom: 8px;
 }
 .future-text {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;

 }
 @media screen and (min-width: 768px) {
.future-title {
    text-align: left;
}
.feature-item {
        width: calc((100% - 72px) / 2);
    }

}
@media screen and (min-width: 1158px) {
.first-section {
        padding: 120px 0 120px
    }
.list-hiden {
        gap: 24px;
    }
.icon-wraper {
        display: flex;
        align-items: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        width: 100%;
        height: 112px;
        justify-content: center;
        margin-bottom: 8px;
    }
.feature-item {
        width: calc((100% - 72px) / 4);
    }
.future-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
.future-text {
        font-weight: 400;
}
}
/*<-- 1#-end-section zagolovok -->*/

/*<-- 2#-section zagolovok -->*/
